---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<header>
    <h1>Formation and propagation of interannual variability in global subtropical gyres</h1>
  </header>
  <p>
    <img src = "https://github.com/cora-a-hersh/cora-a-hersh.github.io/blob/master/images/argo_ecco_spice_PV_persistence_sig29.55.jpg?raw=true">
    <br> Figure from <a href="https://journals.ametsoc.org/view/journals/phoc/55/2/JPO-D-24-0081.1.xml">Hersh et al., 2025</a>
    <p>
    In the global subtropical oceans, large-scale currents bring waters from the sea surface in the subtropics down to a depth of a
    few hundred meters, where they travel across the width of entire basins until they eventually re-emerge in upwelling regions at
    the equator or in western boundary currents. Recent evidence has suggested that year-to-year changes in the water properties that 
    travel through these pathways can survive for long distances as they move toward the tropics. The strength of the connection between 
    the subtropics and tropics through these "ocean tunnels" could have important implications for the predictability of tropical climate variability.
    <p>
    My Ph.D. thesis work focused on the year-to-year variability of the water properties in these currents: how anomalies of water properties
    like temperature and salinity form at the sea surface in the subtropics, how long they can survive as they travel toward the tropics,
    and what impact they can have on the variability of upper equatorial waters.

<header>
    <h1>Argo float data quality</h1>
  </header>
  <p>
    <img src = "https://github.com/cora-a-hersh/cora-a-hersh.github.io/blob/master/images/Wong_et_al_figure_smaller.jpeg?raw=true">
    <br> Figure from <a href="https://www.frontiersin.org/journals/marine-science/articles/10.3389/fmars.2020.00700/full">Wong et al., 2020</a> 
    <p>
    The Argo float program is a major international collaboration that deploys floating robots throughout the global oceans to 
    measure water properties like temperature, salinity, and pressure down to a depth of 2000 meters (half the average depth of
    the ocean). Increasingly, new types of floats are also being deployed that can measure chemical and biological properties, along
    with others that can dive even deeper. This dataset, built over the past two decades, is a revolutionary resource in oceanography
    and climate studies, with at least several thousand papers published using Argo data to date. With such widespread usage, a clear
    understanding of the accuracy of Argo sensor data is imperative, especially for long-term climate studies. As a research assistant
    in the WHOI Argo Float Group, I compared Argo float profile data to gold-standard ship-based measurements from GO-SHIP in order to
    estimate the accuracy of Argo pressure and salinity data.

{% include base_path %}

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}
